@model IEnumerable<SK.TrackYourDay.Expenses.Models.ViewModels.ExpenseVM>
@{
    ViewData["Title"] = "Index";
}


<h1>Expenses Tracker</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">All Expenses List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Expenses" asp-action="Create" class="btn btn-primary">Create new expense</a>
        </div>
    </div>
    <br />

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Expand/Collapse Filters
                    </button>
                </h4>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Partial("_FilterExpenses", new SK.TrackYourDay.Expenses.Models.ViewModels.FilterVM())
                </div>
            </div>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Expense Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Payment Method
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>
                        Irregular Payment
                    </th>
                    <th>
                        Changes
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model)
                {
                    <tr>
                        <td width="20%">@expense.ExpenseName</td>
                        <td width="20%">@expense.Description</td>
                        <td width="10%">@expense.Amount</td>
                        <td width="10%">@expense.Date.ToString("d")</td>
                        <td width="4%">@expense.ExpenseCategory</td>
                        <td width="4%">@expense.PaymentMethod</td>
                        <td width="4%">@expense.UserName</td>
                        <td width="4%"><input asp-for="@expense.IrregularPayment" disabled /></td>
                        <td width="25%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Expenses" asp-action="Update" asp-route-Id="@expense.Id" class="btn btn-primary mx-1">Update</a>
                                <a asp-controller="Expenses" asp-action="Delete" asp-route-Id="@expense.Id" class="btn btn-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No expenses</p>
    }
</div>
