@model SK.TrackYourDay.Expenses.Models.ViewModels.TotalsVM

<div class="container p-3">

    @foreach (var year in Model.YearExpenses)
    {
        <div class="accordion margin-b-1" id="accordionExample">
            <div class="card w-100">
                <div class="card-header" id="headingOne">
                    <h4 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{@year.Year}" aria-expanded="false" aria-controls="collapseOne">
                            <h4>Expenses @year.Year</h4>
                        </button>
                    </h4>
                </div>
                <div id="collapse{@year.Year}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Total</th>
                                    <th>Regular</th>
                                    <th>Irregular</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (@Model.YearExpenses.Any())
                                {
                                    @foreach (var month in year.monthExpensesYear)
                                    {
                                        if (month is not null)
                                        {
                                            <tr>
                                                <td>@month.MonthName</td>
                                                <td>@month.MonthTotal</td>
                                                <td>@(month.MonthTotal - month.IrregularAmount)</td>
                                                <td>@month.IrregularAmount</td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td><b>Totals @year.Year</b></td>
                                        <td><b>@year.YearTotal</b></td>
                                        <td><b>@year.RegularYearExpensesByCategory.Sum(x => x.Value)</b></td>
                                        <td><b>@year.IrregularYearExpensesByCategory.Sum(x => x.Value)</b></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="accordion margin-b-1" id="accordionCategories">
                            <div class="card w-100">
                                <div class="card-header" id="headingOneCat{@year.Year}">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOneCategories{@year.Year}" aria-expanded="false" aria-controls="collapseOneCategories{@year.Year}">
                                            <h4>All Expenses By Category @year.Year</h4>
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapseOneCategories{@year.Year}" class="collapse" aria-labelledby="headingOneCat" data-parent="#accordionCategories">
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if (@Model.YearExpenses.Any())
                                                {
                                                    @foreach (var category in year.YearExpensesByCategory)
                                                    {
                                                        <tr>
                                                            <td>@category.Key.Name</td>
                                                            <td>@category.Value</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="card-header" id="headingTwoCat{@year.Year}">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoCategories{@year.Year}" aria-expanded="false" aria-controls="collapseTwoCategories{@year.Year}">
                                            <h4>Regular Expenses By Category @year.Year</h4>
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapseTwoCategories{@year.Year}" class="collapse" aria-labelledby="headingTwoCat" data-parent="#accordionCategories">
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if (@Model.YearExpenses.Any())
                                                {
                                                    @foreach (var category in year.RegularYearExpensesByCategory)
                                                    {
                                                        <tr>
                                                            <td>@category.Key.Name</td>
                                                            <td>@category.Value</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="card-header" id="headingThreeCat{@year.Year}">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThreeCategories{@year.Year}" aria-expanded="false" aria-controls="collapseThreeCategories{@year.Year}">
                                            <h4>Irregular Expenses By Category @year.Year</h4>
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapseThreeCategories{@year.Year}" class="collapse" aria-labelledby="headingThreeCat" data-parent="#accordionCategories">
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if (@Model.YearExpenses.Any())
                                                {
                                                    @foreach (var category in year.RegularYearExpensesByCategory)
                                                    {
                                                        <tr>
                                                            <td>@category.Key.Name</td>
                                                            <td>@category.Value</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="card-header" id="headingFourCat{@year.Year}">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourCategories{@year.Year}" aria-expanded="false" aria-controls="collapseFourCategories{@year.Year}">
                                            <h4>All Expenses By Month and Category @year.Year</h4>
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapseFourCategories{@year.Year}" class="collapse" aria-labelledby="headingFourCat" data-parent="#accordionCategories">
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Month</th>
                                                    @foreach (var category in @year.monthExpensesYear[0].MonthExpensesByCategory.Keys)
                                                    {
                                                        <th>@category.Name</th>
                                                    }
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if (@Model.YearExpenses.Any())
                                                {
                                                    @foreach (var month in year.monthExpensesYear)
                                                    {
                                                        if (month is not null)
                                                        {
                                                            <tr>
                                                                <td>@month.MonthName</td>
                                                                @foreach (var category in month.MonthExpensesByCategory)
                                                                {
                                                                    <td>@category.Value</td>
                                                                }
                                                                <td>@month.MonthTotal</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="card-header" id="headingFiveCat{@year.Year}">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFiveCategories{@year.Year}" aria-expanded="false" aria-controls="collapseFiveCategories{@year.Year}">
                                            <h4>Regular Expenses By Month and Category @year.Year</h4>
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapseFiveCategories{@year.Year}" class="collapse" aria-labelledby="headingFiveCat" data-parent="#accordionCategories">
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Month</th>
                                                    @foreach (var category in @year.monthExpensesYear[0].RegularMonthExpensesByCategory.Keys)
                                                    {
                                                        <th>@category.Name</th>
                                                    }
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if (@Model.YearExpenses.Any())
                                                {
                                                    @foreach (var month in year.monthExpensesYear)
                                                    {
                                                        if (month is not null)
                                                        {
                                                            <tr>
                                                                <td>@month.MonthName</td>
                                                                @foreach (var category in month.RegularMonthExpensesByCategory)
                                                                {
                                                                    <td>@category.Value</td>
                                                                }
                                                                <td>@(month.MonthTotal - month.IrregularAmount)</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="card-header" id="headingSixCat{@year.Year}">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSixCategories{@year.Year}" aria-expanded="false" aria-controls="collapseSixCategories{@year.Year}">
                                            <h4>Regular Expenses By Month and Category @year.Year</h4>
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapseSixCategories{@year.Year}" class="collapse" aria-labelledby="headingSixCat" data-parent="#accordionCategories">
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Month</th>
                                                    @foreach (var category in @year.monthExpensesYear[0].IrregularMonthExpensesByCategory.Keys)
                                                    {
                                                        <th>@category.Name</th>
                                                    }
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if (@Model.YearExpenses.Any())
                                                {
                                                    @foreach (var month in year.monthExpensesYear)
                                                    {
                                                        if (month is not null)
                                                        {
                                                            <tr>
                                                                <td>@month.MonthName</td>
                                                                @foreach (var category in month.IrregularMonthExpensesByCategory)
                                                                {
                                                                    <td>@category.Value</td>
                                                                }
                                                                <td>@month.IrregularAmount</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>